<html>
	<head>
		<title>App</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
		<script src="app.js"></script>
	</head>
	<body ng-app="myapp" ng-controller="mainCtrl">
		<div>
			{{test}}
		</div>
		<form ng-submit="addPost()">
			<input type="text" placeholder="Title" ng-model="title"></input>
			<input type="text" placeholder="Link" ng-model="link"></input>
			<button type="submit">Post</button>
		</form>
		<div ng-repeat='post in posts | orderBy:"votes"'>
			<button ng-click="incrementVotes(post)"><b>^</b></button>
			{{post.title}} - {{post.votes}}
		</div>

	</body>
</html>